services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    working_dir: /app
    command: ["air", "-c", ".air.toml"]
    environment:
      - MIGRATIONS_PATH=file:///app/migrations
